*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
*.out
src/*.out
Dataset/Directed/*.txt
Dataset/Undirected/*.txt
Dataset/Graphs/*.txt
Dataset/tsv_files/*.tsv
Dataset/Graphs/*.graph
Dataset/Graphs/*.graph.part.*
Med_dataset/*
Dataset/zipfiles/*.tsv.gz
Dataset/zipfiles/*.tsv.*
Dataset/zipfiles/*.tsv
Dataset/zipfiles/*
Dataset/zipfiles/*.graph
Scripts/*.txt
Scripts/*.csv
Dataset/input_csr/*.part.*
src/MetisPart/*
demo/*
Dataset/tsv_files/*
*.csr.*
*.csr
*metis*
*.part
*.part.*
*part*
*.csv
dgl*
*/test_codes/*
*/test_code/*
test_code/*
